{% for post in posts %}
		<div class="d-flex mt-4 shadow p-3 gap-3 align-items-center">
			{% if post.userId.image is defined %}
				<img src="{{ asset('upload/profiles/'~post.userId.image) }}" class="rounded-circle shadow" style="width:40px;height:40px"/>
			{% else %}
				<img src="{{ asset('assets/img/nologo.jpg') }}" class="rounded-circle shadow" style="width:40px;height:40px"/>
			{% endif %}
			<div>
				<p>Posted by <b>{{ post.userId.username }}</b> on {{ post.createdAt | date('d/m/Y') }} at {{ post.createdAt | date('H:i') }}</p>
				<p>{{ post.content }}</p>
			</div>
		</div>
{% endfor %}